	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000">------------ </font> <br> <br>

					<font color="#000" size="6px"> Confirmation </font> <br> <br>

					<font color="#000" size="6px"> Your IMAGES  are saving. You can see the list of Previous searches and see the images stored for that searches.</font>
					
					<br>
					<br>
					
					Mob : +91 9791488984
					
					<br>
					<br>
					
					Email : iamrahulgupta231@outlook.com

<br>
<br>
<br>
 </td>
					
					
					<td style="padding-left:20px;"> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
	