<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login/Signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap-->
  <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
  
  <script src="lib/jquery.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
</head>
<body>


<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>DARWIN LABS</h1>

        <p>Login or Register with:</p>

        <a href="/ejs/login.ejs" class="btn btn-default"><span class="fa fa-user"></span> LOGIN</a>
        <a href="/ejs/signup.ejs" class="btn btn-default"><span class="fa fa-user"></span> SIGN UP</a>
    </div>

</div>
</body>
</html>